# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# https://www.prisma.io/docs/reference/database-connectors/mysql
DATABASE_URL='mysql://zr5nds37owzk2tzaiir4:pscale_pw_kSK1hf5YAUlEWbfF4Im2Yo9505qvcKpwXxRo3mDyM3H@aws.connect.psdb.cloud/chache?sslaccept=strict'
SHADOW_DATABASE_URL='mysql://uaugdup0gdkwgs6u8u24:pscale_pw_2Bb7spt1IjJ1zMAXfVt9Ib2FNgTMGw86wXktDqWvBnP@aws.connect.psdb.cloud/chache?sslaccept=strict'